@font-face {
  font-family: 'LiberationSans-Regular';
  src: url('fonts/LiberationSans-Regular-webfont.woff');
}

@font-face {
  font-family: 'LiberationSans-Bold';
  src: url('fonts/LiberationSans-Bold-webfont.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'LiberationSans-Italic';
  src: url('fonts/LiberationSans-Italic-webfont.woff');
  font-style: italic, oblique;
}

header, section {
  display: flex;
}

body {
  /*overflow-x: hidden;*/
  background: #FFF url(chemin.jpeg) no-repeat center center;
  background-attachment: fixed;
  background-blend-mode:;
}

/* Needed when media queries will be set ? */
/*body {
  margin: 0;
  width: 100%;
  max-width: 1240px;
}*/

header {
  height: 570px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  /*background: #FFF url(chemin.jpeg) no-repeat center center;
  background-attachment: fixed;*/
  /*width: 100%;*/
  background-size: cover;
  overflow: hidden;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.6);

}

header img {
  width: 600px;
  margin-top: 00px;
}

header h1, header h3 {
  color: white;
}

header h1 {
  line-height: 0.6px;
}

.name {
  flex: auto;
  margin-left: 30px;
}

.name h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.name h3 {
  /*font-weight: bold;*/
  /*font-style: italic;*/
  /*font-size: 5rem;*/
  /*text-transform: uppercase;*/
}

.section1 {
  height: 400px;
  background-color: #F7F5F3;
  padding: 60px;
  text-align: center;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(52, 52, 52, 0.5);
}

.section1 p {
  font-size: 1.3rem;
  color: black;
}

.section2 {
box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.section3 {
  /*height: 200px;*/
  /*background: #FFF url(chemin.jpeg) no-repeat top center;
  background-attachment: fixed;*/
  height: 300px;
  justify-content: center;
  align-items: center;
  /*padding: 30px;*/
  text-shadow: 0 0 3px black;
  background-color: rgba(0, 0, 0, 0.6);
}

.section3 h1 {
  z-index: 3;
}

#mc_embed_signup {
  text-align: center;
}

#mc_embed_signup * {
  padding: 10px;
}

#mc_embed_signup h1 {
  color: #EEE;
}

#mc_embed_signup .required {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5) inset;
  color:#444;
  font-size: 1.5em;
  text-align: center;
  padding: 10px 20px 10px 20px;
}
#mc_embed_signup .button {
background-color: rgba(100, 100, 100, 0.2);
/*background: none;*/
border:1px solid black;
color:#EEE;
box-shadow: 0 0 5px 1px black;
font-size: 1.5em;
margin-top:-15px;
padding:6px 10px 6px 10px;
transition: all 0.2s ease-in-out;
}

#mc_embed_signup .button:hover {
  background-color: rgba(200, 200, 200, 0.2);
}




  .section3 h1 {
  padding:0;

}

.section3 input {
  font-size: 30px;
  border-radius: 4px;
  border: 0;
}

footer {
  height: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

footer i {
  margin: 65px 40px 0 40px;
  transition: all 0.5s ease-in-out;

}


footer i :hover {
background-color: rgba(0, 0, 0, 0.1);
 }
