header {
  height: 400px;
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  color: white;
}

header p {
  color: white;
}

.logo {
  flex: auto;
}

.section1 {
  height: 400px;
}

.section2 {
}

.section3 {
height: 400px;
}

footer {
  height: 200px;
}
